body {
    background: url('../Img/dado-home.jpg') no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: absolute;
}

#container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1100px;
    margin: 40px auto 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cadastro a {
    display: flex;
}


#container header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
    
}

#container header a span {
    display: flex;
    background: url('../Img/sign-out.svg') no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}

#container main {
    max-width: 560px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1 {
    font-size: 54px;
    font-weight: 700;
    width: 560px;
    margin-bottom: 0px;
    
}

main p {
    font-weight: 300;
    margin: 15px 0px;
    line-height: 38px;
    font-size: 20px;
}

#container main a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: var(--primary-color);
    transition: 400ms;
    color: white;
}

#container main a:hover {
    background-color: #0022b8;
}

#container main a span {
    width: 72px;
    height: 72px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container main a span::after {
    content: "";
    background: url('../Img/search-solid.svg') no-repeat;
    width: 32px;
    height: 32px;
    
}

#container main a strong {
    flex: 1;
    text-align: center;
}
